# Entornos virtuales
.venv/
venv/
ENV/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
dist/
build/
*.egg-info/

# Archivos de bytecode compilados
*.pyc
*.pyo
*.pyd

# Archivos de configuración local
.env
.env.local

# Archivos temporales
.DS_Store
Thumbs.db
.directory

# Archivos de logs
*.log

# Archivos de sesión de IDEs
.idea/
.vscode/
*.swp
*.swo 